name: CI web

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"

      - name: Install ziglang
        uses: mlugg/setup-zig@v1

      - name: Install dependencies
        run: npm install --ignore-scripts

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Unit Tests
        run: npm run test
        env:
          AWS_ACCESS_KEY_ID: "AKIALALEMEL33243OLIA"
          AWS_SECRET_ACCESS_KEY: "my_access_key"

      - name: Run Playwright E2E Tests
        run: npm run test:e2e
        env:
          AWS_ACCESS_KEY_ID: "AKIALALEMEL33243OLIA"
          AWS_SECRET_ACCESS_KEY: "my_access_key"

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
